<section class="progress-steps padding-y-xl">
  <div class="container">
    <div class="row justify-content-center align-items-start">
      <div class="col-4 col-lg-3">
        <div class="progress-step d-flex flex-column row-gap-xs align-items-center justify-content-center">
          <div class="progress-step__circle active d-flex align-items-center justify-content-center ">
            <span class="progress-step-number">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                   viewBox="0 0 18 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.1241 0.530911L5.38111 10.8988L2.53032 7.85296C2.00517 7.35782 1.17994 7.32781 0.579771 7.74793C-0.0053927 8.18305 -0.170439 8.94826 0.189661 9.56343L3.5656 15.055C3.8957 15.5651 4.46586 15.8802 5.11104 15.8802C5.72621 15.8802 6.31137 15.5651 6.64146 15.055C7.18161 14.3498 17.4895 2.06134 17.4895 2.06134C18.8399 0.680952 17.2044 -0.534387 16.1241 0.515907V0.530911Z"
                    fill="white"/>
              </svg>
            </span>
          </div>
          <p class="text-lg text-center">{{ "Föreläsningar" | t }}</p>
        </div>
      </div>

      <div class="col-4 col-lg-3">
        <div class="progress-step d-flex flex-column row-gap-xs align-items-center justify-content-center">
          <div class="progress-step__circle active d-flex align-items-center justify-content-center ">
            <span class="progress-step-number">2</span>
          </div>
          <p class="text-lg text-center">{{ "Fyll i kontakt uppgifter" | t }}</p>
        </div>
      </div>

      <div class="col-4 col-lg-3">
        <div class="progress-step d-flex flex-column row-gap-xs align-items-center justify-content-center">
          <div class="progress-step__circle d-flex align-items-center justify-content-center ">
            <span class="progress-step-number">3</span>
          </div>
          <p class="text-lg text-center">{{ "Slutför anmälan" | t }}</p>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="padding-top-xl padding-top-lg-4xl padding-bottom-2xl padding-bottom-lg-5xl">
  <div class="container">
    <div class="row justify-content-between">
      <!--- Contact info -->
      <div class="col-12 col-lg-7">
        <div
          class="contact-info d-flex flex-column row-gap-2xl padding-y-2xl align-items-start padding-x-base padding-x-lg-0">
          <h2 class="display-sm fw-bold">{{ "Kontaktuppgifter" | t }}</h2>

          <div class="d-flex border-full-primary radius-full padding-3xs gap-3xs">
            <button type="button" class="brand-button-primary button-large" data-user-type="private">{{ "Privatperson" | t }}</button>
            <button type="button" class="brand-button-primary inactive button-large fw-bold" data-user-type="org">{{ "Organisation" | t }}</button>
          </div>


          {% include 'contact_details_checkout' %}
        </div>
      </div>

      <!--- Products -->
      <div class="col-12 col-lg-4">
        <div
          class="d-flex flex-column row-gap-base padding-y-2xl padding-top-lg-6xl padding-x-xl radius-lg border-full-secondary ">
          <h2 class="display-sm fw-bold">{{ "Valda föreläsningar" | t }}</h2>
          {% for item in cart.order_items %}
            <div class="side-cart__item border border-0">
              <div class="side-cart__image-wrapper">
                <img src="{{ item.product.first_image.small }}"
                     alt="" height="67" width="100"
                     class="side-cart__image">
              </div>

              <a href="{{ item.product.url }}" class="side-cart__content" aria-label="{{ item.product.name }}">
                <p class="side-cart__title">{{ item.product.name }}</p>
                <div class="text-tertiary">
                  <span>{{ "Tillgänglig mellan" | t }}:</span>
                  <span>{{ item.product.property_availability.value }}</span>
                </div>
              </a>
            </div>
          {% endfor %}
          <button type="button" class="brand-button-primary button-large" id="checkout-submit">{{ "Fortsätt" | t }}</button>
        </div>
      </div>

    </div>
  </div>
</section>