<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta name="ahrefs-site-verification" content="a9d3634029198a35e5e46f9d07d3e9bbe107340592ef6864473cd27a8b538dc0">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <title>{{ seo_prefix }}{{ seo.title }}</title>
  <meta name="description" content="{{ seo.description }}">
  <meta name="keywords" content="{{ seo.keywords }}">

  <!-- Open Graph data -->
  {% if locale == 'en' %}
    <meta property="og:locale" content="en_US">
  {% else %}
    <meta property="og:locale" content="sv_SE">
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:url" content="https://{{ request.domain }}{{ request.path }}"/>

  {% if event.id.size > 0 %}
    <meta property="og:title" content="{{ event.title }}"/>
  {% else %}
    {% if page.og_title.size > 0 or product.og.title.size > 0 %}
      <meta property="og:title" content="{{ page.og_title }}{{ product.og.title }}"/>
    {% else %}
      <meta property="og:title" content="{{ seo_prefix }}{{ seo.title }}"/>
    {% endif %}
  {% endif %}

  {% if event.id.size > 0 %}
    <meta property="og:description" content="{{ event.description | strip_html | truncate: 150 }}"/>
  {% else %}
    {% if page.og_description.size > 0 or product.og.description.size > 0 %}
      <meta property="og:description" content="{{ page.og_description }}{{ product.og.description }}"/>
    {% else %}
      <meta property="og:description" content="{{ seo.description }}"/>
    {% endif %}
  {% endif %}

  {% if page.og_image.size > 0 or product.og.image.size > 0 or article.preview.size %}
    <meta property="og:image" content="{{ page.og_image }}{{ product.og.image }}{{ article.preview }}"/>
    <meta property="og:image:secure_url" content="{{ page.og_image }}{{ product.og.image }}{{ article.preview }}"/>
  {% else %}
    <meta property="og:image" content="{{ 'top_img.png' | asset_path }}"/>
    <meta property="og:image:secure_url" content="{{ 'top_img.png' | asset_path }}"/>
  {% endif %}

  <!-- HREFLANG -->
  <link rel="alternate" hreflang="sv-se" href="{{ request.url }}"/>

  <!-- Canonical -->
  <link href="https://{{ request.domain }}{{ request.path | remove: '/sv' }}" rel="canonical"/>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_path }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_path }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_path }}">
  {% comment %}<link rel="manifest" href="{{ 'site.webmanifest' | asset_path }}">{% endcomment %}
  <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_path }}" color="#f68a31">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  <!-- Cache busting -->
  {% assign version = "1.0" %}

  <!--- Translations --->
  <script>
    window.translations = {{ site.translations | jsonify }};
  </script>


  {{ wm3 }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


  <link rel="alternate" type="application/rss+xml" href="/{{ locale }}/a.rss" title="RSS Feed">
  <!--- Swiper --->
  <link rel="preconnect" href="https://cdn.jsdeliver.net" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Styles -->
  <link href="{{ 'new_application.css' | template_path }}?{{ version }}" rel="stylesheet">

  <!-- Translations -->
  <script>
    window.translations = {{ site.translations | jsonify }};
  </script>
</head>

<body>
<main>
  <header>
    <nav class="header-nav bg-brand-default d-flex align-items">
      <div class="container">
        <div class="row h-100 align-items-center justify-content-between">
          <div class="col-auto">
            <a href="/" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="160" height="20" viewBox="0 0 160 20" fill="none">
                <path
                  d="M152.576 19.4895C151.031 19.4895 149.53 19.2767 148.075 18.8512C146.619 18.4033 145.253 17.7203 143.977 16.8022L146.362 12.9391C147.414 13.6334 148.478 14.1596 149.553 14.5179C150.65 14.8539 151.669 15.0218 152.61 15.0218C153.684 15.0218 154.222 14.6971 154.222 14.0477V13.9805C154.222 13.6222 153.976 13.3422 153.483 13.1407C152.99 12.9392 152.262 12.704 151.299 12.4353C150.404 12.2113 149.564 11.9538 148.78 11.6627C147.996 11.3492 147.313 10.9797 146.731 10.5542C146.149 10.1063 145.69 9.56882 145.354 8.94178C145.018 8.31474 144.85 7.54214 144.85 6.62398V6.5568C144.85 5.59384 145.029 4.74286 145.387 4.00385C145.768 3.24245 146.283 2.61541 146.933 2.12274C147.582 1.60767 148.343 1.21577 149.217 0.947042C150.113 0.678311 151.087 0.543945 152.139 0.543945C153.483 0.543945 154.804 0.734296 156.103 1.115C157.402 1.47331 158.578 1.98837 159.63 2.6602L157.447 6.69116C156.506 6.17609 155.554 5.773 154.591 5.48187C153.628 5.16835 152.789 5.01159 152.072 5.01159C151.579 5.01159 151.21 5.10117 150.964 5.28033C150.717 5.43708 150.594 5.63863 150.594 5.88497V5.95215C150.594 6.31046 150.84 6.60158 151.333 6.82553C151.848 7.02708 152.587 7.27341 153.55 7.56453C154.446 7.81087 155.286 8.0908 156.069 8.40432C156.853 8.69545 157.536 9.06495 158.119 9.51283C158.701 9.93832 159.16 10.4646 159.496 11.0916C159.832 11.7187 160 12.4689 160 13.3422V13.4094C160 14.4172 159.82 15.3017 159.462 16.0631C159.104 16.8022 158.6 17.4292 157.951 17.9443C157.301 18.4593 156.517 18.84 155.599 19.0864C154.681 19.3551 153.673 19.4895 152.576 19.4895Z"
                  fill="white"/>
                <path
                  d="M124.066 0.913839H130.449V3.46678C130.74 3.08608 131.065 2.71657 131.423 2.35827C131.781 1.99996 132.184 1.68644 132.632 1.41771C133.08 1.14898 133.573 0.936232 134.11 0.779473C134.648 0.600319 135.241 0.510742 135.891 0.510742C137.839 0.510742 139.35 1.10419 140.425 2.29108C141.523 3.47798 142.071 5.11276 142.071 7.19542V19.0868H135.689V9.24449C135.689 8.23675 135.454 7.47535 134.984 6.96028C134.513 6.44521 133.897 6.18768 133.136 6.18768C132.352 6.18768 131.703 6.44521 131.188 6.96028C130.695 7.47535 130.449 8.23675 130.449 9.24449V19.0868H124.066V0.913839Z"
                  fill="white"/>
                <path
                  d="M111.445 15.4929C112.385 15.4929 113.147 15.2241 113.729 14.6867C114.311 14.1492 114.602 13.4214 114.602 12.5033V11.6635C114.289 11.5291 113.908 11.4171 113.46 11.3276C113.035 11.238 112.587 11.1932 112.117 11.1932C111.176 11.1932 110.448 11.4059 109.933 11.8314C109.44 12.2345 109.194 12.772 109.194 13.4438V13.511C109.194 14.138 109.407 14.6307 109.832 14.989C110.258 15.3249 110.795 15.4929 111.445 15.4929ZM109.161 19.4902C108.287 19.4902 107.481 19.3671 106.742 19.1207C106.003 18.8744 105.353 18.5161 104.794 18.0458C104.256 17.5755 103.831 16.9933 103.517 16.2991C103.204 15.6049 103.047 14.7987 103.047 13.8805V13.8133C103.047 12.8728 103.215 12.0442 103.551 11.3276C103.909 10.6109 104.391 10.0175 104.995 9.54721C105.622 9.07693 106.372 8.71863 107.246 8.47229C108.119 8.22595 109.093 8.10279 110.168 8.10279C111.019 8.10279 111.825 8.18116 112.587 8.33792C113.371 8.47229 114.02 8.62905 114.535 8.8082V8.50588C114.535 7.56532 114.233 6.83751 113.628 6.32244C113.046 5.80738 112.139 5.54984 110.907 5.54984C109.944 5.54984 109.071 5.63942 108.287 5.81858C107.503 5.99773 106.708 6.24406 105.902 6.55758L104.592 2.05634C105.622 1.63085 106.708 1.29494 107.85 1.0486C109.015 0.779873 110.381 0.645508 111.949 0.645508C113.583 0.645508 114.961 0.835859 116.08 1.21656C117.222 1.59726 118.152 2.14592 118.868 2.86254C119.563 3.53436 120.055 4.35175 120.346 5.3147C120.66 6.25526 120.817 7.36378 120.817 8.64025V19.0872H114.502V17.206C113.874 17.9003 113.124 18.4601 112.251 18.8856C111.4 19.2887 110.37 19.4902 109.161 19.4902Z"
                  fill="white"/>
                <path
                  d="M71.3477 0.913839H77.73V3.3996C78.3123 2.63819 79.0401 1.96637 79.9134 1.38412C80.7868 0.801867 81.8617 0.510742 83.1382 0.510742C84.3475 0.510742 85.4 0.768276 86.2958 1.28334C87.1916 1.79841 87.8858 2.52622 88.3785 3.46678C89.1623 2.54862 90.0356 1.832 90.9986 1.31693C91.9615 0.779473 93.1148 0.510742 94.4585 0.510742C96.4068 0.510742 97.9296 1.09299 99.0269 2.25749C100.124 3.3996 100.673 5.03438 100.673 7.16183V19.0868H94.2905V9.2109C94.2905 8.20316 94.0666 7.45295 93.6187 6.96028C93.1708 6.44521 92.5662 6.18768 91.8048 6.18768C91.0434 6.18768 90.4163 6.44521 89.9237 6.96028C89.431 7.45295 89.1847 8.20316 89.1847 9.2109V19.0868H82.8023V9.2109C82.8023 8.20316 82.5784 7.45295 82.1305 6.96028C81.6826 6.44521 81.0779 6.18768 80.3165 6.18768C79.5551 6.18768 78.9281 6.44521 78.4354 6.96028C77.9651 7.45295 77.73 8.20316 77.73 9.2109V19.0868H71.3477V0.913839Z"
                  fill="white"/>
                <path
                  d="M38.7422 0.913839H45.1245V3.3996C45.7068 2.63819 46.4346 1.96637 47.308 1.38412C48.1814 0.801867 49.2563 0.510742 50.5327 0.510742C51.742 0.510742 52.7946 0.768276 53.6903 1.28334C54.5861 1.79841 55.2803 2.52622 55.773 3.46678C56.5568 2.54862 57.4302 1.832 58.3931 1.31693C59.3561 0.779473 60.5094 0.510742 61.853 0.510742C63.8013 0.510742 65.3241 1.09299 66.4215 2.25749C67.5188 3.3996 68.0674 5.03438 68.0674 7.16183V19.0868H61.6851V9.2109C61.6851 8.20316 61.4611 7.45295 61.0132 6.96028C60.5654 6.44521 59.9607 6.18768 59.1993 6.18768C58.4379 6.18768 57.8109 6.44521 57.3182 6.96028C56.8255 7.45295 56.5792 8.20316 56.5792 9.2109V19.0868H50.1968V9.2109C50.1968 8.20316 49.9729 7.45295 49.525 6.96028C49.0771 6.44521 48.4725 6.18768 47.7111 6.18768C46.9497 6.18768 46.3226 6.44521 45.83 6.96028C45.3597 7.45295 45.1245 8.20316 45.1245 9.2109V19.0868H38.7422V0.913839Z"
                  fill="white"/>
                <path
                  d="M26.1244 15.4929C27.065 15.4929 27.8264 15.2241 28.4086 14.6867C28.9909 14.1492 29.282 13.4214 29.282 12.5033V11.6635C28.9685 11.5291 28.5878 11.4171 28.1399 11.3276C27.7144 11.238 27.2665 11.1932 26.7962 11.1932C25.8557 11.1932 25.1279 11.4059 24.6128 11.8314C24.1201 12.2345 23.8738 12.772 23.8738 13.4438V13.511C23.8738 14.138 24.0865 14.6307 24.512 14.989C24.9375 15.3249 25.475 15.4929 26.1244 15.4929ZM23.8402 19.4902C22.9668 19.4902 22.1606 19.3671 21.4216 19.1207C20.6826 18.8744 20.0332 18.5161 19.4733 18.0458C18.9359 17.5755 18.5104 16.9933 18.1968 16.2991C17.8833 15.6049 17.7266 14.7987 17.7266 13.8805V13.8133C17.7266 12.8728 17.8945 12.0442 18.2304 11.3276C18.5887 10.6109 19.0702 10.0175 19.6749 9.54721C20.3019 9.07693 21.0521 8.71863 21.9255 8.47229C22.7989 8.22595 23.773 8.10279 24.8479 8.10279C25.6989 8.10279 26.5051 8.18116 27.2665 8.33792C28.0503 8.47229 28.6997 8.62905 29.2148 8.8082V8.50588C29.2148 7.56532 28.9125 6.83751 28.3078 6.32244C27.7256 5.80738 26.8186 5.54984 25.5869 5.54984C24.624 5.54984 23.7506 5.63942 22.9668 5.81858C22.183 5.99773 21.388 6.24406 20.5818 6.55758L19.2718 2.05634C20.3019 1.63085 21.388 1.29494 22.5301 1.0486C23.6946 0.779873 25.0607 0.645508 26.6283 0.645508C28.263 0.645508 29.6403 0.835859 30.76 1.21656C31.9021 1.59726 32.8315 2.14592 33.5481 2.86254C34.2423 3.53436 34.735 4.35175 35.0261 5.3147C35.3396 6.25526 35.4964 7.36378 35.4964 8.64025V19.0872H29.1812V17.206C28.5542 17.9003 27.804 18.4601 26.9306 18.8856C26.0796 19.2887 25.0495 19.4902 23.8402 19.4902Z"
                  fill="white"/>
                <path
                  d="M8.59938 19.4895C7.05418 19.4895 5.55377 19.2767 4.09814 18.8512C2.64252 18.4033 1.27647 17.7203 0 16.8022L2.38499 12.9391C3.43751 13.6334 4.50124 14.1596 5.57616 14.5179C6.67348 14.8539 7.69242 15.0218 8.63298 15.0218C9.7079 15.0218 10.2454 14.6971 10.2454 14.0477V13.9805C10.2454 13.6222 9.99902 13.3422 9.50635 13.1407C9.01368 12.9392 8.28586 12.704 7.32291 12.4353C6.42714 12.2113 5.58736 11.9538 4.80356 11.6627C4.01976 11.3492 3.33674 10.9797 2.75449 10.5542C2.17224 10.1063 1.71316 9.56882 1.37724 8.94178C1.04133 8.31474 0.873375 7.54214 0.873375 6.62398V6.5568C0.873375 5.59384 1.05253 4.74286 1.41084 4.00385C1.79154 3.24245 2.30661 2.61541 2.95604 2.12274C3.60547 1.60767 4.36687 1.21577 5.24025 0.947042C6.13602 0.678311 7.11017 0.543945 8.1627 0.543945C9.50635 0.543945 10.8276 0.734296 12.1265 1.115C13.4253 1.47331 14.601 1.98837 15.6536 2.6602L13.4701 6.69116C12.5296 6.17609 11.5778 5.773 10.6149 5.48187C9.65191 5.16835 8.81213 5.01159 8.09551 5.01159C7.60284 5.01159 7.23334 5.10117 6.987 5.28033C6.74066 5.43708 6.61749 5.63863 6.61749 5.88497V5.95215C6.61749 6.31046 6.86383 6.60158 7.3565 6.82553C7.87157 7.02708 8.61058 7.27341 9.57353 7.56453C10.4693 7.81087 11.3091 8.0908 12.0929 8.40432C12.8767 8.69545 13.5597 9.06495 14.142 9.51283C14.7242 9.93832 15.1833 10.4646 15.5192 11.0916C15.8551 11.7187 16.0231 12.4689 16.0231 13.3422V13.4094C16.0231 14.4172 15.8439 15.3017 15.4856 16.0631C15.1273 16.8022 14.6234 17.4292 13.974 17.9443C13.3246 18.4593 12.5408 18.84 11.6226 19.0864C10.7044 19.3551 9.6967 19.4895 8.59938 19.4895Z"
                  fill="white"/>
              </svg>
            </a>
          </div>

          {% include 'desktop_menu' %}

          {% include 'mobile_menu' %}
        </div>
      </div>
    </nav>
    {% if cart.order_items.size > 0 and request.cookies.x-no-reminder != 'true' and request.path != '/w/checkout' and request.path != '/w/cart' %}
      {% include 'cart_reminder' %}
    {% endif %}
  </header>


  {% include 'mobile_menu_modal' %}
  {% include 'side_cart' %}

  <overlay-component></overlay-component>

