<section class="education-content-row customer-form-row mb-3">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-6">

        <form-component
          modal="#registerSuccessModal">

          {% wm3form customer.register_url %}
          {% if flash.notice %}
            <div class="alert alert-success">{{ flash.notice | join: '</div><div class="notice">' }}</div>
          {% endif %}
          {% if flash.alert %}
            <div class="alert alert-danger">{{ flash.alert | join: '</div><div class="alert default-message">' }}</div>
          {% endif %}
          {% if customer.notifications.exists? %}
            {% for alert in customer.notifications.by_type.alert %}
              <div class="alert alert-warning spacer-10">{{ alert.message }}</div>
            {% endfor %}
          {% endif %}

          <div class=" mt-5 mb-5">
            <h1 class="fw-bold">{{ 'Registrera konto' | t }}</h1>
            <p>{{ 'Få tillgång till dina utbildningar och att anmäla dig på nya.' | t }}</p>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-3">
              <label for="firstName" class="form-label">{{ 'Organisation' | t }}</label>
              <input type="text" class="form-control" id="firstName" name="customer[company]"
                     placeholder="{{ 'Organisation' | t }}" aria-label="{{ 'Organisation' | t }}" required>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="title" class="form-label">{{ 'Befattning' | t }}</label>
              <input type="text" class="form-control" id="title" name="customer[dynamic_fields][Befattning][value]"
                     placeholder="{{ 'Befattning' | t }}" aria-label="{{ 'Befattning' | t }}" required>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-3">
              <label for="firstName" class="form-label">{{ 'Förnamn' | t }}</label>
              <input type="text" class="form-control" id="firstName" name="customer[first_name]"
                     placeholder="{{ 'Förnamn' | t }}" aria-label="{{ 'Förnamn' | t }}" required>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="lastName" class="form-label">{{ 'Efternamn' | t }}</label>
              <input type="text" class="form-control" id="lastName" name="customer[last_name]"
                     placeholder="{{ 'Efternamn' | t }}" aria-label="{{ 'Efternamn' | t }}" required>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-3">
              <label for="email" class="form-label">{{ 'E-mail' | t }}</label>
              <input type="email" class="form-control" id="email" name="customer[email]"
                     placeholder="{{ 'E-mail' | t }}"
                     aria-describedby="{{ 'E-mail' | t }}" required>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <hr>
              <h4>{{ 'Dina personuppgifter' | t }}</h4>
            </div>
            <div class="col-lg-12 mb-3">
              <label for="address" class="form-label">{{ 'Adress' | t }}</label>
              <input type="text" class="form-control" id="firstName" name="customer[bill_address_attributes][address1]"
                     placeholder="{{ 'Adress' | t }}" aria-label="{{ 'Adress' | t }}">
            </div>

            <div class="col-lg-6 mb-3">
              <label for="zipcode" class="form-label">{{ 'Postnummer' | t }}</label>
              <input type="text" class="form-control" id="zipcode" name="customer[bill_address_attributes][zipcode]"
                     placeholder="{{ 'Postnummer' | t }}" aria-label="{{ 'Postnummer' | t }}">
            </div>

            <div class="col-lg-6 mb-3">
              <label for="city" class="form-label">{{ 'Stad' | t }}</label>
              <input type="text" class="form-control" id="city" name="customer[bill_address_attributes][city]"
                     placeholder="{{ 'Stad' | t }}" aria-label="{{ 'Stad' | t }}">
            </div>

            <div class="col-lg-12 mb-3">
              <label for="specialDiet" class="form-label">{{ 'Specialkost/allergier' | t }}</label>
              <input type="text" class="form-control" id="specialDiet"
                     name="customer_account[dynamic_fields][specialkost][value]"
                     placeholder="{{ 'Specialkost/allergier' | t }}" aria-label="{{ 'Specialkost/allergier' | t }}">
            </div>

            <select hidden name="customer[bill_address_attributes][country_id]" required="required">
              {% for country in store.countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
              {% endfor %}
            </select>
          </div>


          <div class="row">
            <div class="col-12">
              <hr>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="password" class="form-label">{{ 'Lösenord' | t }}</label>
              <input type="password" class="form-control" id="password" name="customer[password]" required>
              <div id="passwordHelp" class="form-text">{{ 'Lösenordet måste innahålla minst 6 tecken.' }}</div>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="password" class="form-label">{{ 'Bekräfta lösenord' | t }}</label>
              <input type="password" class="form-control" id="password" name="customer[password_confirmation]" required>
            </div>
          </div>


          <button type="submit" class="brand-button-primary button-large col-12">{{ 'Skapa konto' | t }}</button>

          <p class="mt-5 text-center">{{ 'Har du redan ett konto?' | t }} <a
              href="{{ customer.login_url }}?new=true">{{ 'Logga in' | t }}</a></p>
          {% endwm3form %}
        </form-component>
      </div>
    </div>
  </div>
</section>

<modal-component id="registerSuccessModal" class="form-popup-modal success-modal">
  <div class="register-success-modal">
    <div class="news-letter-modal__header d-flex margin-bottom-3xs justify-content-between align-items-center">
      <p class="text-lg text-primary family-heading text-center">{{ "Tack för din registrering!" | t }}</p>
      <button
        id="close-button"
        type="button"
        class=" navigation-button radius-full"
        aria-label="Stäng modal"
        data-modal-action="close"
        data-modal-element="#registerSuccessModal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none">
          <path
            d="M12 4L4 12M4 4L12 12"
            stroke="#030712"
            stroke-width="1.66667"
            stroke-linecap="round"
            stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="news-letter-modal__body">
      <p
        class="text-md text-secondary fw-light">{{ 'Vi har nu skickat ett mail till dig där du behöver bekräfta ditt konto.' }}</p>
      <p
        class="text-md text-secondary fw-light">{{ 'När du bekräftat ditt konto kan du logga in i utbildningsportalen och anmäla dig på önskade utbildningar.' }}</p>

    </div>

    <div class="news-letter-modal__footer margin-top-xl d-flex">
      <button
        type="button"
        class="brand-button-primary button-large w-100"
        data-modal-action="close"
        data-modal-element="#registerSuccessModal">{{ "Stäng" | t }}</button>
    </div>
  </div>
</modal-component>